<nav class="pla-nav">
    <ul>
        <li>
            <a href="/" data-i18n="Home">Home</a>
        </li>
        <li>
            <a href="/seeds" data-i18n="MMOS">MMOs</a>
        </li>
        <li>
            <a href="/spawns" data-i18n="Spawns">Spawns</a>
        </li>
		<li>
			<a href="/multiseed" data-i18n="Multis">Multis</a>
		</li>
		<!-- <li>
			<a href="/underground">BDSP</a>
		</li>
		<li>
			<a href="/overworld">SWSH</a>
		</li> -->
        <li>
            <a href="https://github.com/capitalism-sudo/pla-multi-checker/wiki" target="_blank" data-i18n="Wiki">Wiki</a>
        </li>
        <li>
            <a href="/settings" data-i18n="Settings">Settings</a>
        </li>
    </ul>
</nav>